---
import Layout from "../layouts/Layout.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>New View - English Project</title>
  </head>
  <body class="bg-gray-900 min-h-screen font-sans text-gray-200">
    <main
      class="w-full max-w-4xl mx-auto px-4 py-16 flex flex-col items-center"
    >
    <a href="/"><button  type="button" class=" border border-white w-[80px] cursor-pointer mb-2.5 text-[18px]"> Regresar</button></a>
      <a href="https://drive.google.com/file/d/1aSmv2lFf9pk80PQz9x7ekmd9ZI0pmgt_/view?usp=drive_link ">
        <div
        class="bg-gray-800 rounded-xl overflow-hidden shadow-xl border border-gray-700 w-full max-w-[600px] mx-auto"
      >
        <div class="h-[400px] overflow-hidden">
          <img
            src="/images/universidad.jpg"
            alt="Descripción de la imagen"
            class="w-full h-full object-cover object-top transition-all duration-500 hover:scale-105"
          />
        </div>
        <div class="p-6">
          <p class="text-gray-200 text-lg">
            I still remember my first day at university because I didn’t know anyone in my program. None of my high school friends chose the same career as me, and no one from my prepa ended up at the university where I got accepted based on my placement exam. I felt more nervous than ever about everything that could happen on my first day. I was insecure, thinking I wasn’t prepared for what they might teach, not just on the first day, but throughout the entire program. So many thoughts ran through my head.

            When the first class finally arrived, everything started all at once. My first subject was Discrete Mathematics. It was completely different from the basic math operations I knew from high school. This was much more advanced and challenging. After that class, the next ones were more business-related, so I’ll skip those because they weren’t as important. Then came the moment I’ll never forget: the Fundamentals of Programming class. Looking back now, it’s funny to think that seeing a simple program where two variables are assigned values and then added together felt like something from another world. I remember thinking, WOW, this is like giving orders to a computer to make it do something! It was so new to me because I had never seen anything like it before.
            
            Now, I do much more than that, but there’s no comparison to the level of complexity I’ve reached after so many years of studying programming. Back then, it felt like the biggest challenge, but now it’s just the foundation of what I do every day.
            
            Later, it was time for English class, which felt strange because it was like having a school within a school. I was nervous again because speaking another language seemed so curious to me, but I knew it was absolutely essential for my career. Surprisingly, I did much better than I expected. For some reason, expressing myself or even just speaking in English came more naturally to me, even though I’m usually much more nervous in social situations. I even made friends from the very first class, something I didn’t expect at all.
            
            Looking back, my first day at university was more challenging than I imagined, but it was also one of the most rewarding experiences of my life. I learned that stepping out of my comfort zone could lead to the most unexpected and amazing opportunities. That day taught me that I’m braver than I thought, and that every new challenge is a chance to grow.
          </p>
        </div>
      </div>
      </a>
    </main>
  </body>
</html>
