---
import Layout from "../layouts/Layout.astro";

---

<Layout>
	<div class="flex bg-amber-500 items-center justify-center h-[100px]">
		<h1 class ='text-4xl font-medium'>
			English Project
		</h1>
	</div>
	<main class="flex bg-amber-100 justify-center gap-15 ">
		<div class = 'flex justify-center bg-gray-400 w-[500px] h-[620px] rounded-[20px] mt-4 mb-4 '><div> img </div></div>
		<div class = 'flex justify-center bg-gray-400 w-[500px] h-[620px] rounded-[20px] mt-4 mb-4 '><div> img </div></div>
		<div class = 'flex justify-center bg-gray-400 w-[500px] h-[620px] rounded-[20px] mt-4 mb-4 '><div> img </div></div>
	</main>
</Layout>