---
import Layout from "../layouts/Layout.astro";

---

<Layout>
	<div class="flex bg-amber-500 items-center justify-center h-[100px]">
		<h1 class ='text-4xl font-medium'>
			English Project
		</h1>
	</div>
	<main class="flex bg-amber-100 justify-center gap-10 ">

<!-- card1 -->
		<div class = 'flex flex-col justify-center bg-gray-400 w-[480px] h-[500px] rounded-[20px] mt-4 mb-4 '>
			<a href="./About-me">
				<div>  
					img
				</div>
			</a>
		<div>
			<p>Aqui va el texto pequeño</p>
		</div>
	</div>

<!-- card2 -->
		<div class = 'flex flex-col justify-center bg-gray-400 w-[480px] h-[500px] rounded-[20px] mt-4 mb-4 '>
			<a href="./Me-objects">
				<div>  
					img
				</div>
			</a>
		<div>
			<p>Aqui va el texto pequeño</p>
		</div>
	</div>

<!-- card3 -->
		<div class = 'flex  flex-col justify-center bg-gray-400 w-[480px] h-[500px] rounded-[20px] mt-4 mb-4 '>
			<a href="./Day">
				<div>  
					img
				</div>
			</a>
		<div>
			<p>Aqui va el texto pequeño</p>
		</div>
	</div>
		
	</main>

<!-- title -->
	<div class = 'flex justify-center'>
			<h2 class = 'text-6xl font-mono'>
				My life, My Blog
			</h2>
	</div>
</Layout>