---

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>Opposite-Me</title>
  </head>
  <body class="bg-gray-900 min-h-screen font-sans text-gray-200">
    <main
      class="w-full max-w-4xl mx-auto px-4 py-16 flex flex-col items-center"
    >
    <a href="/"><button  type="button" class=" border border-white w-[80px] cursor-pointer mb-2.5 text-[18px]"> Regresar</button></a>
      <div
        class="bg-gray-800 rounded-xl overflow-hidden shadow-xl border border-gray-700 w-full max-w-[600px] mx-auto"
      >
        <div class="h-[400px] overflow-hidden">
          <img
            src="/images/beto.jpg"
            alt="Descripción de la imagen"
            class="w-full h-full object-cover object-top transition-all duration-500 hover:scale-105"
          />
        </div>
        <div class="p-6">
          <p class="text-gray-200 text-lg">
            He is my friend José Alberto, but everyone in our friend group calls him 'Beto.' I chose him as my opposite because he always makes everyone laugh, while I’m more of the person who just stays in the group to laugh. I don’t usually talk much; I have trouble speaking. I used to have speech problems when I was little, and it stuck with me.
            I included him because he knows how to express himself very well, which is something I barely do because I get very nervous.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
